* {
  box-sizing: border-box;
}
body {
  padding: 2rem;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
table {
  min-width: 800px;
  min-height: 500px;
  color: white;
  border: 2px solid #23626a;
  background-color: white;
}
table caption {
  margin-bottom: 2rem;
}
td,
th {
  border: 1px solid #23626a;
  padding: 1rem;
}
tr:nth-child(2n + 1) {
  background-color: #e9e9e9;
}
th,
tr:first-child {
  background-color: #0e6a75;
}
th {
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}
tr:not(:first-child, :nth-child(2), :nth-child(3)) {
  color: black;
}
tr:nth-child(2) {
  background-color: #838997;
}
tr:nth-child(3) {
  background-color: #aaaaaa;
}
